*{
    
    padding:0px;
    margin:10px;
    box-sizing: border-box;


}
body{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
line-height: 18px;
}

.titulo{
    position: fixed;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    color: blue;
    
}


#Seccion{
    width:300px ;
    height: 40px;
    background-color: cyan;
    position: absolute;
    top: 0;
    left: 0;
}

h2.libro{
    position: relative;
    margin-top: 30px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); 
    padding-top: 30px;
    padding-bottom: 50px;
    color: gold;
}
picture{
    float: right;
    clear:both;
}
.contenido{
    padding-top: 20px;
    

}
#stucky{
    color: darkblue;
    position: sticky;
    right: 0;
    top: 0;
}

div{
    font: size 10px; 
        padding: 10px 20px 20px;
    
}

.visual{
    padding-top:20px ;
    padding-bottom: 20px;
}

.element{

    border-color: powderblue violet powderblue;
    border-width: 2px 10px 5px;
    border-style: solid dotted solid;

}
.resumen{
    color: darkcyan;
    position: sticky;
    right: 0;
    top: 0;
}

kbd{
    font-family: monospace;
    background: blueviolet;
}

ul{
    padding-left: 30px;
}

ol{
    padding-left: 30px;
}

#info{
    border: 5px solid red;
}

.float{
    float: left;
}

article{
    border-style: dashed ;
    border-width: 5px;
    border-color: plum;

}

.block{
    display: block;
    background-color:pink ;
    width: 100px;
    height: 100px;
    border: 2px solid;
}

.inline{
    
    display: inline;
    background-color:pink ;
    width: 100px;
    height: 100px;
    border: 2px solid;
}

.inline-block{

    display: inline-block;

}

.overflowscroll{
    overflow: scroll;
    height: 100px;
    border: 200px;
    border: 2px solid violet;
    background: plum;


}

.overflowhidden{
    overflow: hidden;
    height: 100px;
    border: 200px;
    border: 3px solid violet;
    background: plum;
}

.overflowauto{
    overflow: auto;
    height: 100px;
    border: 200px;
    border: 3px solid violet;
    background: plum;

}

.overflowvisible{

    overflow: visible;
    height: 100px;
    border: 200px;
    border: 3px solid violet;
    background: plum;
    padding-bottom: 15%;
}

.visible{
    
    visibility: visible;
    
}

.hidden{
    visibility: hidden;
}

.container {
    position: relative;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.options {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.option {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
